NODE_ENV=development
PORT=5000
# Example local MongoDB URI, or replace with your MongoDB Atlas URI
MONGO_URI=mongodb://127.0.0.1:27017/meeting-scheduler
# check the readme file we have the access data there
JWT_SECRET=your_super_secret_jwt_key    
